---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/bearnie/button/Button.astro";
import Separator from "@/components/bearnie/separator/Separator.astro";
import Card from "@/components/bearnie/card/Card.astro"
import CardContent from "@/components/bearnie/card/CardContent.astro";
import CardHeader from "@/components/bearnie/card/CardHeader.astro";
import CardTitle from "@/components/bearnie/card/CardTitle.astro";

const iconSize = 50;
const buttonSize = iconSize + 5;

const socialLinks = [
  {
    name: "Gmail",
    url: "mailto:pravda.mahyun@gmail.com",
    icon: "/gamedev-portfolio/icons/gmail.png",
    username: "pravda.mahyun@gmail.com"
  },
  {
    name: "Github",
    url: "https://github.com/Milieth",
    icon: "/gamedev-portfolio/icons/github.png",
    username: "Milieth"
  },
  {
    name: "Discord",
    url: "https://discord.com/users/415050487222501377",
    icon: "/gamedev-portfolio/icons/discord.png",
    username: "Milieth#3102"
  },
  {
    name: "Itch.io",
    url: "https://milieth.itch.io/",
    icon: "/gamedev-portfolio/icons/itchio.png",
    username: "Milieth"
  },
  {
    name: "Facebook",
    url: "https://www.facebook.com/pravda.mahyun/",
    icon: "/gamedev-portfolio/icons/facebook.png",
    username: "Pravda Mahyun"
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/mili-eth-ba2915377/",
    icon: "/gamedev-portfolio/icons/linkedin.png",
    username: "Mili Eth"
  },
];
---

<BaseLayout title="Milieth's Contact">
    <div class="flex w-full justify-center mt-8">
        <Card class="w-[800px]">
            <CardHeader>
                <CardTitle class="text-4xl text-center">Contact List</CardTitle>
            </CardHeader>
            <Separator class="bg-zinc-400" />
            <CardContent class="mt-2">
              <p>Feel free to get in touch, I love discussing about maths and programming, or maybe you just want to say hi?.</p>
              <p class="text-zinc-500 italic mt-4 mb-10 border-l-2 border-zinc-700 pl-3">
                Note: If you want a fast response, send me an email. Thanks!</p>
              {socialLinks.map((link) => (
                <div class="flex items-center gap-4 mt-2"> 
                  <Button 
                    class="w-[170px] flex justify-start items-center px-4 ml-5"
                    style={{ height: `${buttonSize}px` }} 
                    href={link.url}
                  >
                    <img 
                      src={link.icon}
                      alt={`${link.name} icon`}
                      style={{ height: `${iconSize}px` }}
                      class="mr-2"
                      slot="left-icon"
                    />
                    {link.name}
                </Button>

                <p class="m-0 text-xl items-center underline decoration-blue-500 underline-offset-4">
                  {link.username}</p>
              </div>))}
            </CardContent>
        </Card>
    </div>
</BaseLayout>